.container{
  background-color: lightgray;
  min-height: 90vh;
  padding-left: 20px;
  padding-bottom: 20px;
}

.title{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img{
  width: 100px;
  height: 100px;
  float: left;
}