.home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/food.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.link{
  text-decoration: none;
  color: black;
  font-size: 3rem;
}