.button{
  background: none;
  border: none;
  transform: translateY(4px);
  cursor: pointer;
}

.input{
  border: none;
  border-bottom: 2px solid lightgray;
  background: none;
  color: lightgray;
}

.input::placeholder {
  color: lightgray;
}

input:focus{
  outline: none;
}