.container{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 60px;
}

.input, .textarea{
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
}

.rangeContainer{
  width: 80%;
  
}

.range{
  width: 86.1%;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  height: 1px;
  outline: none; 
  vertical-align: middle;
}

@media (min-width: 800px) {
  .range{
   width: 95%;
  }
}


/* For Chrome, Opera, Safari, Edge */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; 
  height: 10px;
  background: black; 
  cursor: pointer;
  border-radius: 50%;
}
/* For Mozilla */
.range::-moz-range-thumb {
  width: 10px;
  height: 10px; 
  background: black; 
  cursor: pointer;
}

.input::placeholder, .textarea::placeholder{
  color: black;
}

.textarea{
  resize: none;
  height: 150px;
  border-bottom: none;
  outline: none;
}

.error{
  color: red;
}

.title{
  background-color: lightgray;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
}

.txt{
  padding-left: 20px;
  padding-right: 20px;
}

.img{
  width: 100px;
  height: 100px;
}

.submit{
  width: 80%;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;

}